<% @page_title = 'User' %>

<%= link_to("<< Back to home", {:controller => 'uploads' , :action => 'home'}, :class => 'btn btn-default') %>


<div class="user new">
  <h2>Create User</h2>

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>

      <%= submit_tag('Create User' , :class => "btn btn-default" ) %>

  <% end %>
</div>
