<% @page_title = 'User' %>

<div class="user new">
  <h2>Create User</h2>

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>

    <div class="form-buttons">
      <%= submit_tag('Create User') %>
    </div>

  <% end %>
</div>
