<button type="button" class="btn btn-default">
<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>
</button>

<div class="Uploads delete">
  <h2>Delete Uploaded File</h2>

  <%= form_for(:upload, :url => {:action => 'destroy', :id => @upload.id}) do |f| %>

    <p>Are you sure you want to permanently delete this uploaded file?</p>

    <p class="reference-name"><%= @upload.name %></p>

    <div class="form-buttons">
    <button type="button" class="btn btn-default">
      <%= submit_tag("Delete File", class:"btn btn-default") %>
    </button>
    </div>

  <% end %>
</div>
