<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="uploads new">
	<h2>Create Subject</h2>

	<%= form_for(:upload, :url => {:action => 'create'}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %> 

		<div class="form-buttons">
		<%= submit_tag("Create Upload") %>
		</div>
	<% end %>
</div>


